/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.video-container {
    padding-bottom: 56.25%;
}

.video-container.square {
	padding-bottom: min(100%,640px);
	max-height: 640px;
	max-width: 640px;
}

.video-container {
    position: relative;
    padding-top: 0;
    height: 0;
    overflow: hidden;
	margin-bottom:20px
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* somehow the freezeframe container shows the spinning loader all the time when playing the video, hence we make sure it is not visible */
.ff-container.ff-loading-icon:before {
    background-image: none !important;
}

.newsidebargroup {
	border-top: 1px #DDD solid;
}